<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <h1>Add Goal</h1>
    <form action="/planner/addGoal" method="POST">
        <label for="day">Day:</label>
        <select name="day" id="day">
            <% ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'].forEach(day => { %>
                <option value="<%= day %>"><%= day %></option>
            <% }) %>
        </select>
        <br>
        <label for="type">Goal Type:</label>
        <select name="type" id="type">
            <option value="Fitness">Fitness</option>
            <option value="Academic">Academic</option>
            <option value="Spiritual">Spiritual</option>
            <option value="Other">Other</option>
        </select>
        <br>
        <label for="text">Goal:</label>
        <input type="text" name="text" id="text" required>
        <br>
        <button type="submit">Add Goal</button>
    </form>
</body>
</html>