<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/styles.css">

</head>
<body>
  <header>
    <h1>Welcome</h1>
    <nav>
      <a href="/account/logout">Logout</a>  
      <a href="#">Edit Weekly goals</a>
      <a href="#">Clear All</a>
    </nav>
    
  </header>
  <section>
    <h2>Weekly Planner</h2>
    <table>
        <tr>
          <td>
            <h3>Monday</h3>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </td>
          <td>
            <h3>Tuesday</h3>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </td>
          <td>
            <h3>Wednesday</h3>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </td>
          <td>
            <h3>Thursday</h3>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </td>
          <td>
            <h3>Friday</h3>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </td>
          <td>
            <h3>Saturday</h3>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </td>
          <td>
            <h3>Sunday</h3>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </td>
        </tr>
      </table>
      
  
  </section>
</body>
</html>